.imgItem {
  margin-top: 20px;
  overflow: hidden;

  .recentlyImage {
    width: 293px;
    height: 138px;
    object-fit: cover;
    transition: transform .2s linear;

    &:hover {
      transform: scale(1.1);
      transition: transform .2s linear;
    }
  }
}

@media (max-width: 1410px) {
  .recentlyImage {
    width: 230px !important;
    height: 105px !important;
  }
}