.mainContainer {
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  
  .mainSection {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 1767px) {
  .mainContainer {
    max-width: 1400px;
  }
}

@media (max-width: 1410px) {
  .mainContainer {
    max-width: 1000px;
  }
}

@media (max-width: 1010px) {
  .mainContainer {
    max-width: 600px;

    .mainSection {
      flex-direction: column;
      height: 1490px;
    }
  }
}

@media (max-width: 620px) {
  .mainContainer {
    max-width: 300px;
  }
}