.menu{
  text-align: right;
  width: 100%;
  z-index: 200;
  display: none;
  position: relative;
}

#check{
  display: none;

  &:checked ~ nav{
    background-color: #1414147e;
    backdrop-filter: blur(3px);
    top: 0;
    touch-action: none;
    overscroll-behavior: none;
    position: fixed;
    opacity: 1;
    pointer-events: all;
  }
  
  &:checked ~ nav a{
    padding: 10px;
    opacity: 1;
    transform: scale(1);
  }

  &:checked ~ .button {
    animation: rotateIcon 200ms ease-in-out forwards;
  }

  &:checked ~ .button .line:nth-child(1) {
    transition: 200ms;
    animation: animate 200ms ease-in-out forwards;
  }

  &:checked ~ .button .line:nth-child(2) {
    transition: 200ms;
    transform: scale(0);
    opacity: 0;
  }

  &:checked ~ .button .line:nth-child(3) {
    transition: 200ms;
    animation: animate2 200ms linear forwards;
  }
}

.button {
  width: 30px;
  height: 30px;
  display: block;
  line-height: 8px;
  position: absolute;
  right: 30px;
  top: -60px;
  z-index: 201;

  .line {
    height: 3px;
    width: 30px;
    background: #000;
    display: inline-block;
    z-index: 4000;

    &:nth-child(1) {
      transition: 200ms;
      animation: animateReverse 200ms ease-in-out;
    }

    &:nth-child(2) {
      transition: 200ms;
      transform: scale(1);
      opacity: 1;
    }

    &:nth-child(3) {
      transition: 200ms;
      animation: animate2Reverse 200ms ease-in-out;
    }
  }
}

nav {
  opacity: 0;
  text-align: left;
  top: 81px;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: all .1s linear;
  pointer-events: none;
  position: absolute;
  text-align: center;
  padding-top: 83px;

  .a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    opacity: 0;
    transform: scale(0);
    transform-origin: top;

    &:first-child {
      margin-top: 84px;
    }
  }
}

.nav_btn {
  color: #fff;
  background: none;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  margin-top: 15px;
}

// animations
@keyframes animate {
  50% {transform: translateY(0px) rotate(0deg);}
  100% {transform: translateY(0px) rotate(-45deg);}
}

@keyframes animateReverse {
  0% {transform: translateY(0px) rotate(45deg);}
  50% {transform: translateY(0px) rotate(0deg);}
  100% {transform: translateY(0) rotate(0deg);}
}

@keyframes animate2 {
  50% {transform: translateY(0px) rotate(0deg);}
  100% {transform: translateY(-19px) rotate(45deg);}
}

@keyframes animate2Reverse {
  0% {transform: translateY(0px) rotate(-45deg);}
  50% {transform: translateY(0px) rotate(0deg);}
  100% {transform: translateY(0) rotate(0deg);}
}

@keyframes rotateIcon {
  100% {transform: rotate(90deg);}
}

// media breakpoints
@media (max-width: 584px) {
  .menu {
    display: block;
  }
}