.container {
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;

  .scheduleInner {
    width: 100%;

    .scheduleHead {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .day {
        color: #fff;
        opacity: .6;
        margin-left: 32px;

        &:last-child {
          margin-right: 207px;
        }
      }
    }

    .schedule {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(8, 1fr);
      width: 100%;
      max-width: 1662px;
      height: 688px;
      border-radius: 15px;
      background-color: #1C1E23;
      overflow: hidden;
      margin-top: 10px;
      
      .scheduleRow {
        border-right: 1px solid #3E3E3E;
        height: 688px;

        &:last-child {
          border: 0;
        }
      }
    }
  }

  .backHomeBtn {
    margin-top: 10px;
  }
}