.authForm {
  background-color: #1c1e23;
  padding: 16px;
  border-radius: 12px;
  text-align: center;

  .subtitle {
    color: #d7dff3;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .linkText {
    color: #d7dff3;
    font-size: 14px;

    .linkActionText {
      color: #5b9cd1;
    }
  }

  .button {
    width: 100%;
    background-color: #4f88b6;
    height: 40px;
    border-radius: 12px;
    transition: background-color 0.2s linear;

    &:hover {
      background-color: #5b9cd1;
    }
  }
}
