*,
*::before,
*::after {
  box-sizing: border-box;
}

// default styles for elements
h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  color: #fff;
  margin: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
  font-weight: normal;
}

h3 {
  font-size: 20px;
  font-weight: normal;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

input {
  border: 0;
  outline: 0;
  font-family: 'Inter', sans-serif;
  color: #fff;
}

// styles for scrollbar
::-webkit-scrollbar-track {
	background-color: #353535;
}

::-webkit-scrollbar {
	width: 10px;
  height: 10px;
	background-color: #353535;
}

::-webkit-scrollbar-thumb {
	background-color: #525252;	
  border-radius: 5px;
}

// styles for body
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  position: relative;
  background-color: #121316;
}